$def with (formR,formV)
<h2>Join the team</h2>

<h2>Here's how you can help.</h2>
<br />
<h3>Becoming a First Responder of Kindness</h3> 
<p>You can become a first responder of kindness. This means that you will recieve twitter notifications informing you when an act of violence has occured in Iraq and prompts you to do something good in response. You can chose the action you feel is most fitting. When you do this, please remember to star the tweet so we can keep track of how many positive things happened in the face of horrible things.</p>

<form action="" method="post">
$:formR.render()
</form>

<h3>Becoming a validator</h3>
<p>You can join the team by becoming a validator confirming news reports about car-bombings in Iraq. This means you will read the article, check its credibility and retweet the event if it's an event you determine has happened in the last day.</p>

<form action="" method="post">
$:formV.render()
</form>


